.gitignore
datasets
utils/tmp
SynTxt3D_50k_1/
SynTxt3D_50k_2/
SynTxt3D_50k_3/
train-50k-1/
train-50k-2/
train-50k-3/
temp/
txt_test/
*.pyc
train-50k-1.zip
SynTxt3D_50k_test.zip
SynTxt3D_50k_test/
requirements.txt
mostel_t1/
mostel_t2/
mostel_t3/
MOSTEL/